/*  The below outline selector is only for debuuging */
/* * {
    outline: solid 1px red;
} */

body {
    background: url(../images/oldWorldBkgd.png) no-repeat center center fixed;
    /* -webkit-background-size: cover;  Not sure what this is
    -moz-background-size: cover;   Not sure what this is */
    background-size: cover;
    /* -o-background-size: cover; Not sure what this is */
    font-family: 'Playfair Display', serif;
}

/*  Navigation CSS */
li.nav-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: .6rem;
}

.nav-link {
    display: inline;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.3);
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:active {
    color: white;
}

.bg-dark {
    background-color: rgb(82, 35, 08) !important;
}

/*  Common CSS that controls name and main subhead on all pages */
.myName {
    font-weight: 800;
    font-size: 2.75rem;
    color: #ba412e;
    /* color: rgb(82, 35, 08); */
    /* text-align: right; */
    /* padding: 1rem 1rem 1rem 0; */
    align-self: flex-end;
}

.mySubhead {
    font-weight: 800;
    font-size: 1.75rem;
    color: rgb(82, 35, 08);
    /* text-align: left; */
    /* padding: 1rem; */
    align-self: flex-end;
}

/*  Common CSS for other elements and links on all pages */
hr {
    border: 0;
    border-top: 1px solid rgb(82, 35, 08);
}

p {
    font-weight: 600;
    font-size: 1.15rem;
    color: rgb(82, 35, 08);
    line-height: 150%;
    padding: 1rem 0 1rem 0;
}

img {
    border: solid 3px rgb(82, 35, 08);
}

.img-fluid {
    width: 75%;
}

.socialSites,
.portfolioSites,
.contactSites {
    font-weight: 500;
    font-size: 1rem;
    color: rgb(82, 35, 08);
    line-height: 150%;
    text-decoration-line: underline;
}

a:hover {
    color: rgba(82, 35, 08, 0.6);
}

/* CSS specifically for Index page */
.myTitles {
    font-weight: 800;
    font-size: 1.15rem;
    color: #ba412e;
    line-height: 160%;
}
ul.myLinks {
    list-style: disc;
    padding-left: .5rem;
    margin-left: 10px;
    color: rgb(82, 35, 08);
}

h3 {
    font-weight: 600;
    font-size: 1.25rem;
    color: #ba412e;
    padding-bottom: .5rem;
}

/* CSS specifically for Portfolio page */
h3.portfolios {
    font-weight: 600;
    font-size: 1.25rem;
    color: #ba412e;
    padding: 1rem 0 .5rem 0;
}

ul.myPortfolios {
    list-style: disc;
    padding-left: 2rem;
    margin-left: 10px;
    color: rgb(82, 35, 08);
}

/* CSS specifically for Contact page */
label {
    padding: .5em 0 .25rem 0;
    color: rgb(82, 35, 08);
}

.btn-primary {
    background-color: rgb(82, 35, 08);
    border-color: rgb(82, 35, 08);
    margin-bottom: 1rem;
}

.form-text {
    font-size: 75%;
    margin-top: .35rem;
}

.form-control {
    border: 1px solid rgb(82, 35, 08);
}

.text-muted {
    color: rgb(82, 35, 08) !important;
}

p.contactText {
    font-size: 1rem;
    margin: .5rem 0 1rem 0;
    padding: 0 0 0 0;
}

p.contactText2 {
    font-style: italic;
    font-size: 1rem;
    margin: .5rem 0 1rem 0;
    padding: 0 0 0 0;
}

p.contactText3 {
    font-size: 1rem;
    font-size: 1rem;
    line-height: 125%;
    /* margin: .5rem 0 1rem 0; */
    padding: 0 0 0 0;
}

h3.contactAddressSubhead {
    padding-bottom: .25rem;
}